<h1 align="center">Edit Album </h1>
<%= render 'form' %>

<div class="text-right", style="margin-left:350px; width:20%;">
  <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "button btn btn-danger" )%>
</div>